/* HEADER */

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid black;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px 20px;
}

.logo span {
  color: MediumAquamarine;
  padding-left: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

/* MAIN */

.container {
  display: flex;
  margin: 10px;
  border: 1px solid black;
  justify-content: space-between;
}

.column-large {
  display: flex;
  border: 1px solid black;
  width: 630px;
  flex-direction: column;
}

.image-content {
  border: 1px solid black;
}

.narrative {
  border: 1px solid black;
}

.column-medium {
  border: 1px solid black;
  width: 300px;
}

.column-small {
  width: 240px;
}
