/* HEADER */

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid black;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px 20px;
}

.logo span {
  color: MediumAquamarine;
  padding-left: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

/* MAIN */

.container {
  display: flex;
  margin: 10px;
  border: 1px solid black;
  width: 1132px;
  margin: 0 auto;
}

/* column-large */

.column-large {
  display: flex;
  border: 1px solid black;
  width: 630px;
  flex-direction: column;
}

.image-content, .culture, .fall {
  color: white;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  justify-content: center;
  flex-direction: column;
}

.image-content {
  border: 1px solid black;
  background-image: url("/Users/Noorulain/MyTimes/resources/images/story.png");
}

.culture {
  background-image: url("/Users/Noorulain/MyTimes/resources/images/hipster.png");
}

.fall {
  background-image: url("/Users/Noorulain/MyTimes/resources/images/fall.png");
}

.narrative {
  border: 1px solid black;
}

.stories {
  flex-direction: row;
}

/* COLUMN MEDIUM */

.column-medium {
  display: flex;
  border: 1px solid black;
  width: 300px;
  flex-direction: column;
}

.medium-story, .cat, .cat-content {
  border: 1px solid black;
}

/* COLUMN-SMALL */


.column-small {
  display: flex;
  width: 240px;
  flex-direction: column;
}
.cookie-content {
  border: 1px solid black;
}
